matplotlib
pandas
geopy
shapely
scikit-learn
tqdm
rasterio
scikit-image
pytorch-metric-learning
timm
ipywidgets 
torchvision
albumentations
pyproj
torch
shapely==1.8.1
python-dotenv
torchmetrics
geopandas